{% extends 'main.html' %}
{% block body %}
    <nav>
        <div class="box">
            <div class="mtitle">طريق النجاح</div>
            <div class="msub">  ملازم مواد السادس التطبيقي </div>
            <div class="ma-square">
                <section class="sa-square"><a href="http://up.iq-res.net/file/1578217362?download=1"> التربية الاسلامية</a></section>
                <section class="sa-square"><a href="https://drive.google.com/file/d/0B1h-_UTuepc4SVFoa1hoMTJqODQ/view"> القواعد  </a></section>
                <section class="sa-square"><a href="https://drive.google.com/file/d/0B1h-_UTuepc4WXJTam4xYWg5QVk/view"> الادب </a></section>
                <section class="sa-square"><a href="http://up.iq-res.net/file/1801969533?download=1"> الانكليزي</a></section>
            </div>
            <div class="mab-square">
                <section class="sa-square"><a href="http://up.iq-res.net/file/2140398156?download=1"> الاقتصاد </a></section>
                <section class="sa-square"><a href="https://drive.google.com/drive/folders/1_izZB_NcYVbbP5j9H9-u-cajzzn0D-gJ">الرياضيات </a></section>
                <section class="sa-square"><a href="http://up.iq-res.net/file/274714001?download=1"> الفيزياء </a></section>
                <section class="sa-square"><a href="https://drive.google.com/file/d/1HovCM96arF1cVrbZg641eGdM_I-OCyGs/view"> الكيمياء </a></section>
            </div>
        </div>
    </nav>
{% endblock %}
