{% extends 'main.html' %}
{% block body%}
     <nav>
        <div class="box">
            <div class="mtitle">طريق النجاح</div>
            <div class="msub">ملازم مواد السادس الاحيائي </div>
        
            <div class="ma-square">
                <section class="sa-square"><a href="http://up.iq-res.net/file/1024302793?download=1"> التربية الاسلامية</a></section>
                <section class="sa-square"><a href="https://drive.google.com/file/d/0B3NtR8S6pvkmak1WelJBMkpzWUU/view"> القواعد  </a></section>
                <section class="sa-square"><a href="https://drive.google.com/file/d/1VDIAQp0g_TIkMfVvarLrJ3wMVyIGgnE6/view"> الادب </a></section>
                <section class="sa-square"><a href="http://up.iq-res.net/file/1801969533?download=1"> الانكليزي</a></section>
            </div>
            <div class="mab-square">
                <section class="sa-square"><a href="https://drive.google.com/file/d/1ngmePGbLB5eumeTgph6w2HMvr0LDpx0Z/view" onclick="window.open('https://drive.google.com/file/d/1viSyEpfX8zfW_4z4_wS7NhfU5y5GGjiV/view');"> الاحياء </a></section>
                <section class="sa-square"><a href="https://drive.google.com/file/d/1yRNxFsRNAlLen6DjTV4EUE0TNcBMVVUm/view">الرياضيات </a></section>
                <section class="sa-square"><a href="https://almarjani.com/up/do.php?id=1457"> الفيزياء </a></section>
                <section class="sa-square"><a href="https://drive.google.com/file/d/0B2odAR5NvGpvajdOdWVRbHVsS1U/view"> الكيمياء </a></section>
            </div>
        </div>
    </nav>
{% endblock %}