{% extends 'main.html' %}
{% block body %}
<nav>
    <div class="box" style="height: 2200px;">
        <div class="mtitle">طريق النجاح</div>
        <div class="msub" style="color: blue;font-size: 25;"><strong>دليل الطالب للقبول المركزي في الجامعات</strong></div> 
        <div class="mens-square">
            <article>
                    <p style="text-align: right;">يحتوى على معدلات القبول لكل الجامعات والكليات و المعاهد في العراق . ويتضمن دليل القبول المركزي للجامعات شروط القبول و اسسه وضوابطه بينها شروط القبول المركزي العامة في الجامعات العراقية</p>
                    <p style="text-align: right;">بالاضافة الى شروط تقديم ذوي الشهداء وطريقة التسجيل والوثائق المطلوبة وضوابط التأجيل و الرسوب و الغاء القبول واعفاء غير العراقيين من الرسوم الدارسية .كذلك يتضمن دليل القبول للجامعات خطوات</p>
                    <p style="text-align: right;">ملء الاستمارة الالكترونية بالاضافة الى اسماء الجامعات و الكليات والمعاهد التى يمكن لخريجي العلمي ( الاحيائي &ndash; التطبيقي ) والادبي والتقديم اليها بالاضافة الى الكليات المرتبطة بالوقف</p>
                    <br>
                    <p style="text-align: right; color: blue;"><strong>الكليات والمعاهد التي بإمكان خريجي الفروع الاحيائي والتطبيقي والادبي التقديم اليها:</strong></p>
                    <br>
                    <p style="text-align: right;">١ -جامعة بغداد</p>
                    <p style="text-align: right;">٢ -الجامعة المستنصرية</p>
                    <p style="text-align: right;">٣ -جامعة البصرة</p>
                    <p style="text-align: right;">٤ -جامعة الموصل</p>
                    <p style="text-align: right;">٥ -الجامعة التكنولوجية</p>
                    <p style="text-align: right;">٦ -جامعة الكوفة</p>
                    <p style="text-align: right;">٧ -جامعة تكريت</p>
                    <p style="text-align: right;">٨ -جامعة القادسية</p>
                    <p style="text-align: right;">٩ -جامعة الانبار</p>
                    <p style="text-align: right;">١٠ -الجامعة العراقية</p>
                    <p style="text-align: right;">١١ -جامعة بابل</p>
                    <p style="text-align: right;">١٢ -جامعة النهرين</p>
                    <p style="text-align: right;">١٣ -جامعة ديالى</p>
                    <p style="text-align: right;">١٤ -جامعة كربلاء</p>
                    <p style="text-align: right;">١٥ -جامعة ذي قار</p>
                    <p style="text-align: right;">٦ -جامعة كركوك</p>
                    <p style="text-align: right;">١٧ -جامعة واسط</p>
                    <p style="text-align: right;">١٨ -جامعة ميسان</p>
                    <p style="text-align: right;">١٩ -جامعة المثنى</p>
                    <p style="text-align: right;">٢٠ -جامعة سامراء</p>
                    <p style="text-align: right;">٢١ -جامعة سومر</p>
                    <p style="text-align: right;">٢٢ -جامعة القاسم الخضراء</p>
                    <p style="text-align: right;">٢٣ -جامعة نينوى</p>
                    <p style="text-align: right;">٢٤ -جامعة الفلوجة</p>
                    <p style="text-align: right;">٢٥ -جامعة جابر بن حيان الطبية</p>
                    <p style="text-align: right;">٢٦ -جامعة تلعفر</p>
                    <p style="text-align: right;">٢٧ -جامعة البصرة للنفط والغاز</p>
                    <p style="text-align: right;">٢٨ -جامعة الحمدانية</p>
                    <p style="text-align: right;">٢٩ -جامعة تكنولوجيا المعلومات والاتصالات</p>
                    <p style="text-align: right;">٣٠ -جامعة الكرخ للعلوم</p>
                    <p style="text-align: right;">٣١ -جامعة ابن سينا للعلوم الطبية والصيدلانية</p>
                    <p style="text-align: right;">٣٢ -الجامعة التقنية الشمالية</p>
                    <p style="text-align: right;">٣٣ -جامعة الفرات الاوسط التقنية</p>
                    <p style="text-align: right;">٣٤ -الجامعة التقنية الجنوبية</p>
                    <p style="text-align: right;">٣٥ -الجامعة التقنية الوسطى</p>
                    <p style="text-align: right;">ثانيا: &ndash; المعاهد التي يقدم إليها خريجو الفرع التجاري</p>
                    <p style="text-align: right;">ثالثا: &ndash; المعاهد التي يقدم إليها خريجو الفرع الزراعي والتخصصات المطلوبة</p>
                    <p style="text-align: right;">رابعا:- المعاهد التي يقدم إليها خريجو الفرع الصناعي والتخصصات المطلوبة</p>
                    <p style="text-align: right;">خامسا: &ndash; المعاهد التي يقدم اليها خريجو الفنون التطبيقية</p>
                    <p style="text-align: right;">سادسا &ndash; المعاهد التي يقدم اليها خريجو فرع الحاسوب وتقنية المعلومات الكليات المرتبطة بديواني الوقفين</p>
                    <p style="text-align: right;">١ -كلية الامام الكاظم (عليه السلام ) مرتبطة بديوان الوقف الشيعي</p>
                    <p style="text-align: right;">٢ -كلية الامام الاعظم ( رحمه االله ) مرتبطة بديوان الوقف السني</p>
                    <br> <br>
                    <p style="text-align: center; color: blue;"><strong>شروط القبول المركزي في الجامعات العراقية 2018</strong></p>
                    <br> <br>
                    <p style="text-align: right;">أ. الشروط العامة للقبول:</p>
                    <p style="text-align: right;">يشترط في الطالب الذي يقبل في الجامعات أن يكون:</p>
                    <p style="text-align: right;">١ -عراقي الجنسية.</p>
                    <p style="text-align: right;">٢ -حائزا على شهادة الدراسة الإعدادية العراقية معززة بتصديق من المديرية العامة للتربية في المحافظة أو على شهادة تعادلها.</p>
                    <p style="text-align: right;"> ٣ -ان يكون الطالب من مواليد ١٩٩٤ صعودا</p>
                    <p style="text-align: right;">٤ -ناجحا في الفحص الطبي على وفق الشروط الخاصة بكل دراسة ويكون تقديم الطالب المكفوف (الذي تتوفر فيه الشروط التقديم للدراسات الإنسانية الملائمة) عن طريق القبول المر كزي.</p>
                    <p style="text-align: right;">٥ -متفرغا للدراسة ولا يجوز الجمع بين الوظيفة والدراسة (في الوقت ذاته) في الكليات والمعاهد الصباحية ويشمل ذلك منتسبي المؤسسات الحكومية كافة ويشترط في استمرارهم بالدراسة</p>
                    <p style="text-align: right;">الحصول على إجازة دراسية من دوائرهم ابتداء ً على وفق التعليمات النافذة، ولا يجوز الجمع بين دراستين أيضا</p>
                    <p style="text-align: right;">وفي حال ثبوت خلاف ذلك يكتب إلى الوزارة لإلغاء قبوله (بإمكان الطالب الموظف تأجيل الدراسة بحسب التعليمات كي يستوفي شرط إكمال سنتين خدمة مرضية ليحق له الحصول على الإجازة الدراسية وعلى وفق تعليمات منح الإجازة الدراسية).</p>
                    <p style="text-align: right;">٦ -من خريجي:</p>
                    <p style="text-align: right;">أ- السنة الدراسية الحالية.</p>
                    <p style="text-align: right;">ب- السنة الدراسية السابقة من غير المقبولين قبولا مركزيا في أية كلية أو معهد يتم قبولهم على وفق الحدود الدنيا لسنه تخرجهم</p>
                    <p style="text-align: right;">شرط عدم التحاقهم باحدى الدراسات (التعليم الحكومي الخاص الصباحي، المسائية، الاهلية أو الكليات التابعة للوقفين) وفي حال ثبوت قبو ل الطالب في أية كلية أو معهد في القنوات اعلاه يعاد إلى قبوله الأصلي وتعد سنة رسوب بحقه.</p>
                    <p style="text-align: right;">٧ -الطلبة غير العراقيين الحاصلين على شهادة الدراسة الإعدادية العراقية والمقبولين مركزيا يتم إبلاغهم خطيا بمراجعة قسم القبول المركزي/ شعبة الوافدين</p>
                    <p style="text-align: right;">لبيان إعفائهم أو مطالبتهم بالأجور الدراسية بالعملة الأجنبية و كما مبين في البند (رابعا) من هذا الفصل.</p>
                    <p style="text-align: right;">ب. الأسس العامة التي يعتمدها نظام القبول المركزي:</p>
                    <p style="text-align: right;">أولا:التقديم على الاستمارة الالكترونية عن طريق البوابة الالكترونية لدائرة الدراسات والتخطيط والمتابعة : ١ .يتوجب على الطلبة :</p>
                    <p style="text-align: right;">أ- خريجي الفرعين (احيائي، تطبيقي): ملء ٥٠ اختيارا في الاستمارة الالكترونية على ان لا يقل عدد المعاهد عن ١٠.</p>
                    <p style="text-align: right;">ب- خريجي الفرع الادبي: ملء ما لا يقل عن 25 اختيارا ولغاية 50 اختيار في الاستمارة الالكترونية على ان لا يقل عدد المعاهد عن ١٠.</p>
                    <p style="text-align: right;">٢ .يكون التقديم لكلية القانون (الحقوق) مقتصرا على سكنة المحافظة حصرا ً ولا يحق للطالب التقديم الى الكلية المذكورة في الجامعات التي تقع خارج محافظته.</p>
                    <p style="text-align: right;">٣ .يكون التقديم لأقسام كليات الهندسة من خلال الاستمارة الالكترونية بشكل مباشر.</p>
                    <br>
                    <p style="text-align: center; color: blue;"><strong>تحميل دليل الطالب للقبول المركزي</strong></p>
                    <br>
                    <p style="text-align: center;">2019 يحتوى الدليل على تفاصيل مهمة من اجل التقديم في الجامعات العراقية للطلاب بما فيها اسماء الكليات والمعاهد والجامعات والتخصصات المتوفرة لطلاب السادس الاعدادي بفروعه التطبيقي و الاحيائي و الادبي ويوضح دليل الطالب كيفية التسجيل والتقديم الالكتروني وجميع مايحتاجه الطالب لذا قم بتحميل نسخة الدليل 2019 من الرابط التالي اضغط
                     <a href="http://mohesr.gov.iq/ar/%D8%AF%D9%84%D9%8A%D9%84-%D8%A7%D9%84%D8%B7%D8%A7%D9%84%D8%A8-%D9%84%D9%84%D9%82%D8%A8%D9%88%D9%84-%D8%A7%D9%84%D9%85%D8%B1%D9%83%D8%B2%D9%8A/" title="دليل الطالب">هنا</a> .</p>
                
                </article>

        </div>
    </div>
</nav>
{% endblock %}

