{% extends 'main.html' %}
{% block body%} 
    <nav>
        <div class="box">
            <div class="mtitle">طريق النجاح</div>
            <div class="msub-2">ملازم مواد السادس الادبي</div>
            <div class="ma-square">
                <section class="sa-square"><a href="http://up.iq-res.net/file/1024302793?download=1"> التربية الاسلامية</a></section>
                <section class="sa-square"><a href="http://up.iq-res.net/file/1538587074?download=1"> القواعد </a></section>
                <section class="sa-square"><a href="http://up.iq-res.net/file/1020718419?download=1"> الادب </a></section>
                <section class="sa-square"><a href="http://up.iq-res.net/file/1080932942?download=1"> النقد الادبي</a></section>  
            </div>
            <div class="mab2-square">
                <section class="sa-square"><a href="http://up.iq-res.net/file/1801969533?download=1"> الانكليزي </a></section>
                <section class="sa-square"><a href="http://up.iq-res.net/file/1752755100?download=1">الرياضيات </a></section>
                <section class="sa-square"><a href="http://up.iq-res.net/file/1945686579?download=1"> الجغرافية </a></section>
                <section class="sa-square"><a href="http://up.iq-res.net/file/1331580893?download=1"> التاريخ </a></section>
                <section class="sa-square"><a href="http://up.iq-res.net/file/905162376?download=1"> الاقتصاد</a></section>

            </div>
        </div>
    </nav>
{% endblock %}    
        
 